* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.hero {
  background-image: url("hero-background.jpg");
  color: white;
  padding-top: 528px;
  padding-bottom: 133px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title{
  text-transform: uppercase;
  font-size: 48px;
  line-height: 59px;
}

.hero-link{
}

.hero-subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 22px
}

.hero-slogan {
  width: max-content;
  text-transform: uppercase;
  font-size: 54px;
  line-height: 66px;
  padding: 38px 31px;
  background-color: rgba(0,0,0,0.32);
  border: 1px solid white;
}

.navigation{
  display: flex;
  padding-bottom: 22px;
  border-bottom: 3px solid #F1B128;
  justify-content: space-between;
}

.navigation-company{
  text-transform: uppercase;
  font-size: 28px;
}

.nav-menu{
  display: flex;
  list-style: none;

}

.nav-menu-item{
  margin-left: 69px;
}

.nav-menu-link {
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3D;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio{
  padding: 27px 0 124px;
  display:flex;
  justify-content: space-between;

}
.portfolio-pictures{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(50% - 15px);


}
.portfolio-item{
  margin-bottom: 30px;
  height: 148px;
  width: calc(50% - 15px);
}
.portfolio-about{
  width: calc(50% - 15px);
  line-height: 1;
}
.portfolio-title{
  font-size: 18px;

  margin-bottom: 22px;
  text-transform: uppercase;
}
.portfolio-article-text{
  font-size: 14px;
  margin-bottom: 18px;

}
.portfolio-link{
  display: inline-block;
  padding: 19px 27px;
  font-size: 14px;
  color: white;
  line-height: 1;
  text-decoration: none;
  background-color: #F1AD1D;
}

.pbi1{
  background-image: url(Layer1.png);
}
.pbi2{
  background-image: url(Layer2.png);
}
.pbi3{
  background-image: url(Layer3.png);
}
.pbi4{
  background-image: url(Layer4.png);
}

.blog {

}

.blog-card {
  width: calc((100% / 3) - 20px);
  border-bottom: 1px solid #333333;
}

.block-card-img {
  width: 100%;
}

.blog-card-title {
  display: flex;
  align-items: center;
}

.blog-card-icon {
 padding: 12px;
 background-color: #333333;
 margin-right: 8px;
}

.blog card text {
  margin: 15px 0;
  font-size: 14px;
  line-height: 17px;
  color:#505050;
}

.blog-card-info {
  padding-top: 11px;
  padding-bottom: 5px;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
  border-top: 1px solid #C1C1C1;

}

.team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.yellow-text {
  color: #F48E0B;
}
