.container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(20 20 20);
  position: relative;
  perspective: 500px;
}

.item {
  margin: 30% auto 0;
  color: #F1B128;
  font-size: 73px;
  font-weight: 700;
  line-height: 1.5em;
  animation: StarWars 30s linear infinite;
  position: relative;
  height: 30%;
  width: 1300px;
  font-family: 'Star Jedi';
}

.item-title {
  margin-bottom: 75px;
  text-transform: uppercase;
  text-align: center;
}

.item-text {
  margin-bottom: 75px;
  text-align: left;
}

@keyframes StarWars {
  from {top:0; transform: translateZ(0) rotateX(40deg);}
  to {top: -1800px; transform: translateZ(-2000px) rotateX(45deg);}
}
