.pricing {
  width: 100%;
}
.pricing-columns {
  background-color: #F4F2FF;
}
.pricing-row {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}
.pricing-cell{
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

}
.pricing-head-text {
}
