.activeLink {
  opacity: 40%;
  cursor: default;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: darkolivegreen;
  padding: 15px;
}

.menuItem {

}

.menuItemLink {
  text-decoration: none;
  color: white;
}
