.container {
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px 25px;
  align-self: center;
  justify-content: space-around;
  height: 380px;
  background-color: white;
  border-right: 1px solid darkgreen;
  border-bottom: 1px solid darkgreen;
}

.favorite {
  align-self: end;
}
.imageWrapper {
  align-self: center;
}

.image {
  height: 250px;
  width: 200px;
}

.infoWrapper {
  display: flex;
  justify-content: space-around;
}
