.container-screen {
  max-width: 1920px;
  margin: 0 auto;
}

.container-content {
  max-width: 1160px;
  margin: 0 auto;
}

.hide {
  display: none;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 1s linear;
}

.fade-in {
  animation: fade-in 1s linear;
}

