.copyright {
  background-color: #22353F;

}

.copyright-block {
  position: relative;
}

.copyright-block-title {
  color: #AEAEAE;
  font-size: 14px;
  padding: 50px 0 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.copyright-block-title > span {
  color: #18CFAB;
  padding-right: 10px;
}


.copyright-block-title:after {
  content: "";
  width: 1px;
  height: 12px;
  background: #AEAEAE;
  position: absolute;
  top: 53px;
  left: 598px;
}
