.header-main-background {
  background-image: url("../../img/Sections background/section-1(header).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.header-menu-background {
  background: rgba(94, 93, 88, 0.6);
  position: fixed;
  z-index: 3;
  width: 100%;
}

.header-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.header-logo {
  display: flex;
  font-size: 32px;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.header-logo-background {
  margin: 26px 5px 26px 0;
}

.header-logo-letter {
  font-size: 32px;
  position: absolute;
  color: white;
  left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header-logo-name {
  font-size: 32px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header-logo-name > span {
  color: #30d5c8;
}

.header-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.header-menu-item {
  font-size: 16px;
  text-transform: uppercase;
}

.header-menu-item-link:hover {
  color:#18CFAB;
  border-bottom: 1px solid #18CFAB;
  padding-bottom: 50px;
}

.header-menu-item-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 14px;
  margin-right: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header-menu-search {
  margin-left: 24px;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 241px;
  margin-bottom: 8px;
}

.header-section-block {
  margin: 380px auto 120px;
  text-align: center;
}

.header-section-block-title {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header-section-block-title > span {
  color: #30d5c8;
}
.header-section-block-text {
  font-size: 78px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.header-section-block-text-smaller {
  font-size: 36px;
  color: #b2b2b2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header-section-link-item {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 10px;
  box-shadow: 0 -4px 0 0 #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.blue-background {
  background-color: #00CBF6;
  padding: 16px 11px;
}

.green-background {
  background-color: #18CFAB;
  padding: 16px;
}

.header-benefits {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  text-align: center;
}
.header-benefits-item {
  padding: 90px 15px 110px 15px;
  width: calc(100%/4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-benefits-item-link-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.white-text {
  color: white;
}

.turquoise-text {
  color: #30d5c8;
}

.black-background {
  background-color: #1C2A33;
}

.turquoise-background {
  background-color: #18CFAB;
}
