
.content-services {
 position: relative;
}
.content-services-title {
  margin: 83px auto 101px;
  text-align: center;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-services-title::before {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  bottom: 335px;
  left: 550px;
}

.content-services-title::after {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  bottom: 330px;
  left: 570px;
}
.content-services-block {
  margin-bottom: 91px;
}
.content-services-block-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto 25px;
}


.content-services-block-menu-item {
  font-size: 16px;
  padding: 30px 0;
  border: 1px solid #EDEFEF;
  text-align: center;
  width: calc(100%/6);
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-services-block-menu-item:hover {
  border: 1px solid #18CFAB;
}

.content-services-block-menu-item-active {
  color: white;
  background-color: #18CFAB;
}

.content-services-block-menu-item-active:after {
  content: url("../../img/pseudoElement-our-services.svg");
  position: absolute;
  top: 75px;
  right: 80px;
}


.content-services-block-second {
  display: flex;
}

.content-services-block-second-img {
  width: calc(100%/6);
  height: calc(100%/1.5);
}

.content-services-block-second-text {
  margin-left: 15px;
  line-height: 24px;
  font-size: 14px;
  color: #777777;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.content-convince {
  background-image: url("../../img/Sections background/section-2(figma).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content-convince-block {
  padding: 127px 0 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-convince-block-item {
  margin: 0 auto;
  text-align: center;
}
.content-convince-block-item-title {
  color: #18CFAB;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.content-convince-block-item-text {
  color: #D8D8D8;
  font-size: 16px;
  margin-bottom: 67px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-convince-block-link {

}

.content-convince-block-link-item {
  display: inline-block;
  padding: 16px 11px;
  background-color: #18CFAB;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: 0 -4px 0 0 #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.content-presentation {
  display: flex;
  flex-direction: column;
  background-color: #E9EDEF;
}

.content-presentation-title {
  position: relative;
  margin: 0 auto;
}
.content-presentation-title-item {
  text-align: center;
  color: #4E4E4E;
  font-size: 36px;
  justify-content: center;
  margin: 95px 0 97px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.content-presentation-title-item::before {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  bottom: 80px;
  left: 120px;
}

.content-presentation-title-item::after {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  bottom: 75px;
  left: 140px;
}

.content-presentation-menu {
  display: flex;
  margin: 0 auto 70px;
}
.content-presentation-menu-item {
  padding: 14px 15px;
  border: 1px solid #DADADA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-presentation-menu-item-active {
  background-color: #18CFAB;
}
.content-presentation-menu-item:hover  {
  border: 1px solid #18CFAB;
}
.content-presentation-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
}
.content-presentation-block-item {
  overflow: hidden;
  position: relative;
  width: 285px;
  height: 210px;
}

.content-presentation-block-item:hover .content-presentation-block-item-information {
  top: 0;
  border-top: 1px solid #18CFAB;
}
.content-presentation-block-item-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-presentation-block-item-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  padding: 50px 40px 40px;
  width: 100%;
  background-color: #E9EDEF;
}

.content-presentation-block-item-information-svg {
  margin-bottom: 40px;
}

.content-presentation-block-item-information-meaning {
  text-transform: uppercase;
  font-size: 14px;
  color: #18CFAB;
  align-self: center;
  margin-bottom: 15px;
}

.content-presentation-block-item-information-position {
  font-size: 12px;
  color: #8A8A8A;
  align-self: center;
}

.content-presentation-button {
  padding: 20px;
  background-color: #18CFAB;
  margin: 0 auto 99px;
  border-radius: 4px;
}

.content-presentation-button-item {
  display: inline-block;
}
.content-presentation-button-text {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.content-blog {

}

.content-blog-title {
  position: relative;
}

.content-blog-title-item {
  margin: 82px 0 100px;
  text-align: center;
  font-size: 36px;
  color: #4E4E4E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-blog-title::before {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  top: 50px;
  left: 540px;
}
.content-blog-title::after {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  top: 55px;
  left: 560px;
}
.content-blog-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 35px;
  margin-bottom: 130px;
}

.content-blog-posts-link:hover .content-blog-posts-link-block-title {
  color: #18CFAB;
}

.content-blog-posts-link:hover .content-blog-posts-link-date {
  background-color: #18CFAB;
}

.content-blog-posts-link {
  text-decoration: none;
  position: relative;
}
.content-blog-posts-link-img {
  width: 100%;
}
.content-blog-posts-link-date {
  padding: 10px 20px;
  background-color: #203E38;
  position: absolute;
  bottom: 209px;
  left: 200px;
  color: #FFFFFF;
  text-align: center;
}
.content-blog-posts-link-date-number {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.content-blog-posts-link-date-month {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.content-blog-posts-link-block {

}
.content-blog-posts-link-block-title {
  color: #717171;
  font-size: 18px;
  margin: 10px 0 15px 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.content-blog-posts-link-block-text {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}
.content-blog-posts-link-block-text-item {
  font-size: 14px;
  color: #777777;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.content-blog-posts-link-block-text::before {
  content: "";
  width: 1px;
  height: 11px;
  background: #777777;
  position: absolute;
  top: 253px;
  right: 165px;
}



.content-about {
  background-image: url("../../img/Sections background/section-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-about-block {
  padding: 98px 0 100px;
}

.content-about-block-title {
  position: relative;
}

.content-about-block-title-item {
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 99px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.content-about-block-title-item::before {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  top: 60px;
  left: 540px;
}

.content-about-block-title-item::after {
  content: "";
  width: 80px;
  height: 2px;
  background: #18CFAB;
  position: absolute;
  top: 65px;
  left: 560px;
}
.content-about-block-svg {
  margin: 0 auto 36px;
  display: block;
}

.content-about-block-information {
}
.content-about-block-information-text {
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  text-align: center;
  margin-bottom: 37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.content-about-block-information-name {
  color: #18CFAB;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.content-about-block-information-position {
  color: #BBBBBB;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.content-about-block-img {
  margin: 0 auto 60px;
  display: block;
  border: 5px solid rgba(24, 207, 171, 0.3);
  border-radius: 50%;
  width: 140px ;
  height: 140px;
}
.content-about-block-list {
  display: none;
  justify-content: center;
  align-items: center;
}
.content-about-block-list-img {

}
.content-about-block-list-img-item {
  margin: 0 20px 0;
  border: 5px solid rgba(24, 207, 171, 0.3);
  border-radius: 50%;
}

.content-about-block-list-img-item:hover {
  transform: translateY(-20px);
  transition: transform 1s ease;
}
.content-about-block-list-img-active {
  transform: translateY(-20px);
  transition: transform 1s ease;
}

.content-about-block-list-arrow{
  border: 1px solid #BBBBBB;
  background: rgba(0, 0, 0, 0.0001);
  width: 31px;
  height: 31px;
  align-self: center;
  margin: 0 15px 0;
  display: flex;
  justify-content: center;
}

.content-about-block-list-arrow-item {
  align-self: center;
}

.content-about-block-list-arrow:hover {
  background-color: #18CFAB;
  border: none;
}

.content-about-block-list-arrow:hover .content-about-block-list-arrow-item>path {
  fill: #FFFFFF;
}

.wrapper {
  position: relative;
  padding:50px;
}
.slider {
  margin: 0 auto;
  width: calc(100%/4);
}
.slider-item {
  margin: 0 20px 0;
}
.slider .slick-arrow {
  position: absolute;
  top: 18px;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev{
  right: 300px;
  background: url("../../img/Arrows.svg") 0 0 no-repeat;
  width: 31px;
  height: 31px;
  border: none;
}

.slider .slick-arrow.slick-next{
  left: 300px;
  background: url("../../img/Arrows.svg") 0 0 no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  transform: rotate(180deg);
}

.slider .slick-arrow.slick-prev:hover {
  background: url("../../img/Arrows-hover.svg");
  transform: rotate(180deg);
}

.slider .slick-arrow.slick-next:hover {
  background: url("../../img/Arrows-hover.svg");
  transform: none;
}
