* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;}

.navigation {

}

.navigation-menu{
  text-align: center;
  margin: 0;
}

.navigation-menu-item{
  display: inline-block;
  padding: 25px 36px 25px 36px;
}

.navigation-menu-link{
  font-size: 18px;
  line-height: 18px;
  color: #FF0000;
  text-decoration: none;
  text-transform: uppercase;
}

.pictures-wide{
  width:100%;)

}

.content {
  text-align: center;
  padding: 45px 0 45px;
}

.content-title {
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
}

.content-section-text-1 {
  font-size: 16px;
  line-height: 26px;
  margin-top: 38px;
  margin-bottom: 28px;
}

.content-section-text-2 {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 66px 0;
}

.container {
  width: 1145px;
  margin: 0 auto;
}

.content-link {
  display: inline-block;
  padding: 18px 42px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FF0000;
  font-size: 12px;
  line-height: 1;
}

.copyright {
  text-align: right;
}

.copyright-text {
  font-size: 16px;
  padding: 40px 30px ;
  margin: 0;
}
