@import "src/scss/_variables";
@import "src/scss/_mixins";

.footer {
  background-color: #000000;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content-title {
    font-size: 14px;
    line-height: 22px;
    color: #FEFEFE;
    margin: 38px 0 8px;
    text-transform: uppercase;
  }
  &__content-text {
    display: none;
    font-size: 12px;
    line-height: 20px;
    color: $footerMainText;
    width: 70%;
    text-align: center;
    margin-bottom: 26px;
  }
  &__content-text-mobile {
    font-size: 12px;
    line-height: 20px;
    color: $footerMainText;
    width: 80%;
    text-align: center;
    margin-bottom: 26px;
  }
  &__content-svg {
    display: flex;
    margin-bottom: 25px;
  }
  &__content-svg-wrapper {
    width: 34px;
    height: 34px;
    margin: 0 4px 0;
  }
  &__content-svg-wrapper-item {
    width: 100%;
    height: 100%;
  }
  &__content-info {
    margin-bottom: 47px;
    text-align: center;
  }
  &__content-info-address {
    color: $footerMainText;
    font-size: 14px;
    line-height: 24px;
    span {
      margin: 0 8px;
    }
  }
  &__content-info-tel {
    color: $footerMainText;
    font-size: 14px;
    line-height: 24px;
    span {
      margin: 0 8px;
    }
  }
  &__content-info-mail {
    color: $footerMainText;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: $tablet) {
  .footer {
    &__content-text {
      display: block;
    }
    &__content-text-mobile {
      display: none;
    }
    &__content-info {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    &__content-text {
      width: 36%;
    }
  }
}


