@import "src/scss/_variables";
@import "src/scss/_mixins";

.header {
  @include flexDirection(flex, column);
  position: relative;
  &__menu-list {
    display: none;
    justify-content: space-between;
    margin: 41px 0 42px;
    width: 80%;
    align-self: center;
  }
  &__menu-list-item{
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    color: $mainColor;
    cursor: pointer;
  }
  &__menu-list-item:hover{
    color: $hover;
  }
  &__burger-button {
    background-color: #000000;
    border: none;
    width: 44px;
    height: 37px;
    display: flex;
    align-self: flex-end;
    margin: 23px 0 23px;
  }
  &__burger-button-svg{
    justify-content: center;
    align-self: center;
  }
  &__burger-menu {
    width: 55%;
    height: 200px;
    position: absolute;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(29%);
    background-color: #F5F5F5;
  }
  &__burger-menu--active {
    display: flex;
  }
  &__burger-menu-item {
    font-size: 11px;
    line-height: 22px;
    color: $mainColor;
    text-transform: uppercase;
    padding: 3px 0 3px 13px;
  }
  &__burger-menu-item:hover {
    color: $hover;
    background-color: #E5E5E5;
  }
  &__picture{
  margin-bottom: 38px;
  }
  &__picture-item{
   width: 100%;
  }
}

@media (min-width: $tablet) {
  .header {
    &__menu-list {
      display: flex;
    }
    &__burger-button {
      display: none;
    }
    &__burger-menu {
      display: none;
    }
  }
}
