@import "src/scss/_variables";
@import "src/scss/_mixins";

.main {

  &__title {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $mainColor;
  }
  &__content {
    @include flexDirection(flex, column);
    justify-content: space-around;
  }
  &__content-block {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  &__content-block:last-child {
    display: none;
  }
  &__content-block-item {
    margin-top: 5px;
  }
  &__content-block-item-title {
    font-size: 14px;
    line-height: 30px;
    color: $mainColor;
  }
  &__content-block-item-by-comments {
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
    span {
      margin: 0 3px;
    }
  }
  &__content-block-item-text {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
    color: $mainColor;
    width: 70%;
  }
}

.article {
  margin-top: 77px;

  &__text-title {
    font-size: 14px;
    line-height: 22px;
    color: $mainColor;
  }
  &__text-link {
    display: none;
    font-size: 13px;
    line-height: 22px;
    color: $mainColor;
    text-decoration: none;
  }
  &__content {
    display: flex;
    margin: 13px 0 42px;
  }
  &__content-img {
    align-self: flex-start;
    flex-basis: 95%
  }
  &__content-img:not(.article__content-img:nth-child(1)) {
    display: none;
  }
  &__content-img-item {
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .main {
    &__content-block {
      flex-direction: row;
    }
    &__content-block:last-child {
      display: flex;
    }
    &__content-block-item {
      margin-left: 20px;
    }

    &__content-block-item-text {
      display: block;
    }
  }
  .article {
    background-color: #F5F5F5;
    &__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 47px 0 0;
      margin-bottom: 35px;
    }
    &__content {
      justify-content: space-between;
      padding-bottom: 50px;
      margin: 0;
    }
    &__text-link {
      display: block;
    }
    &__content-img:not(.article__content-img:nth-child(4)) {
      display: block;
      flex-basis: 30%;
    }
  }
}

@media (min-width: $desktop) {
  .main {
    &__content {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 32px 50px;
      margin-top: 30px;
    }

    &__content-block {
      margin: 0;
    }

    &__content-block-item-text {
      width: 100%;
    }
  }
  .article {
    &__content-img {
      flex-basis: 24% !important
    }

    &__content-img:nth-child(4) {
      display: block !important
    }

  }
}
