.border {
  border-color: green;
  border-style: solid;
}

.color {
  color: green;
}

.value {
  position: relative;
  margin-bottom: 40px;
}

.error-border {
  border-color: red;
  color: red;
}

.error {
  color: red;
  position: absolute;
  top: 30px;
  left: 60px;
  font-size: 13px ;
}

.remove-list {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.block-price {
  display: inline-block;
  margin: 20px 5px;
  border: 1px solid black;
  border-radius: 10px;
}
