.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  /*padding: 0 79px;*/
}

.hero-logo {
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.hero-logo:hover {
  color: #3CB878;
}

.hero-block{
  display: flex;
  align-items: center;
}
.hero-block-icons {
  padding: 18px 0;
}

.hero-block-icons-link {
  text-decoration: none;
}

.hero-block-icons-link-item {
  padding-left: 27px;
}

.hero-block-icons-link:hover .hero-block-icons-link-item>path {
  fill: #01813F;
}

.hero-block-form {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-left: 53px;
  position: relative;
}

/*.hero-block-form:before {*/
/*  content: "";*/
/*  width: 1px;*/
/*  height: 19px;*/
/*  background-color: #FFFFFF;*/
/*  opacity: 0.5;*/
/*  margin-right: 27px;*/
/*  margin-left: 25px;*/
/*  padding: 0;*/
/*}*/

.hero-block-form::before {
  content: "";
  width: 1px;
  height: 19px;
  background: #FFFFFF;
  opacity: 0.5;
  position: absolute;
  left: -25px;
}
.hero-block-form-link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 5px;
}

.hero-block-form-link:hover {
  color: #3CB878;
}





