.modal {
  background-color: #FFFFFF;
  width: 444px;
  position: relative;
  padding: 31px 60px 38px 60px;
  box-sizing: border-box;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.modal-head-registration {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.modal-head::before {
  content: url("../../img/modal/green-icon.svg");
  position: absolute;
  left: 0;
}

.modal-head-authorization {
  font-size: 14px;
  line-height: 14px;
  color:#3CB878;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.modal-head-authorization:hover {
  text-decoration: underline;
  color: #01813F;
}

.modal-alternative-authorization {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal-alternative-authorization-link {
  width: calc(50% - 6px);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.facebook:hover {
  background-color: #022263;
}

.facebook {
  padding: 13px 22px 13px 17px;
  background-color: #305DB8;
}

.google {
  background-color: #DF4A32;
  padding: 13px 27px 13px 12px;
}

.google:hover {
  background-color: #AB1F09;
}

.modal-alternative-authorization-link-title {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.modal-alternative-authorization-link-title::before {
  content:"";
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
  position: absolute;
  left: 48px;
  top: 10px;
}

.modal-separation {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-separation::before {
  content: "";
  border: 1px solid #F2F2F2;
  width: calc(50% - 12px);
}

.modal-separation::after {
  content: "";
  border: 1px solid #F2F2F2;
  width: calc(50% - 12px);
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.sign-in-label{
  margin-bottom: 15px;
}

.sign-in-field{
  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.sign-in-field::placeholder{
  color: #BEBEBE;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.sign-in-field:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  border-color: transparent;
  color: #434343;
  background-color: #FFFFFF;
}

.sign-in-checkbox {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.sign-in-checkbox-green-text {
  color: #3CB878;
}

.sign-in-checkbox-link{
  text-decoration: none;
}

.sign-in-checkbox-green-text:hover {
  text-decoration: underline;
  color: #01813F;
}

.sign-in-btn {
  padding: 16px 0;
  background-color: #3CB878;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.sign-in-btn:hover {
  background: #01813F;
}


