.mainContainer {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: 30px;
  }
}

.totalPrice {
  align-self: end;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}
.itemsContainer {
  width: 60%;
}
