* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.body-background {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
