.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 30%;
  background: red;
  z-index: 2;
}

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.contentWrapper {
  margin: 0 20px 0 20px;
}

.contentWrapperTitle {
  margin: 25px 10px 25px 10px;
}

.contentWrapperText {
  margin-bottom: 25px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
}

.buttonWrapper > * {
  padding: 10px 0 10px 0;
  width: 15%;
  margin-bottom: 10px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1;
}

