.details {
  background-color: #000000;
}

.details-block {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.details-block-copyright {
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
}

.details-block-logo {
  padding: 29px 0;
  display: grid;
  grid-auto-flow: column;
}

.details-block-logo-text {
  color: #FFFFFF;
  text-transform: uppercase;
}
