.hero {
  /*padding: 538px 0 133px;*/
  /*pt538*/
  padding-top: 538px;
  /*pb133*/
  padding-bottom: 133px;
  background-image: url("../../hero-background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  /*color: white;*/
}

.hero-title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 59px;
  color: white;
}

.hero-subtitle {
  color: white;
  font-size: 18px;
  line-height: 22px;
  /*margin-top: 16px;*/
  /*margin-bottom: 22px;*/
  margin: 16px 0 22px;
}

.hero-link {
  color: inherit;
  text-decoration: none;
}

.hero-slogan {
  /*dib*/
  /*display: inline-block;*/

  width: max-content;

  font-size: 54px;
  line-height: 66px;
  color: #fff;
  text-transform: uppercase;
  padding: 38px 31px;
  /*bgc*/
  background-color: rgba(0,0,0,0.32);
  border: 1px solid white;
}
