.team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.team-child {
  position: relative;
  height: 178px;
  margin-bottom: 2px;
}

.team-child-title {
  position: absolute;
  padding: 15px 17px;
  font-size: 14px;
  width: 139px;
  bottom: 14px;
  left: 12px;
  background-color: var(--col-primary-text);
  color: var(--col-white);
}

