//.itemCount {
//  width: 2.5%;
//  padding: 10px;
//  border: 1px solid black;
//}
//
//.contentContainer {
//  display: flex;
//  flex-direction: column;
//  padding: 10px 25px 25px 25px;
//  align-self: center;
//  justify-content: space-around;
//  height: 380px;
//  background-color: white;
//  border-right: 1px solid darkgreen;
//  border-bottom: 1px solid darkgreen;
//}
//
//.favorite {
//  align-self: end;
//}
//.imageWrapper {
//  align-self: center;
//}
//
//.image {
//  height: 250px;
//  width: 200px;
//}
//
//.infoWrapper {
//  display: flex;
//  justify-content: space-around;
//}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.productMainInfo {
  display: flex;
  justify-content: space-between;
  p {
    align-self: center;
  }
  div {
    align-self: center;
  }
}

.productMainInfoImg {
  width: 100px;
}

.countContainer {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  span {
    margin-left: 30%;
  }
}

.countPart {
  display: flex;

  >* {
    align-self: center;
  }
  :nth-of-type(2) {
    padding: 10px 15px;
    border: 1px solid darkolivegreen;
    margin: 0 5px;
}
}


