.container {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}

.container > h1 {
  text-align: center;
}

.containerContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid darkgreen;
  border-left: 1px solid darkgreen;
}
