body {
  font-family: sans-serif;
}
.ticket {
  margin: 100px auto;
  width: 1000px;
  background: #f3f1c9;
}

.ticket-info {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "title title title title title"
    "pass pass pass pass platform"
    "dep dep arr arr platform"
    "date time car seat platform"
}
.ticket-info-title {
  grid-area: title;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  color: #f3f1c9;
  background-color: #000;
}

.ticket-info-passenger {
  grid-area: pass;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-depart {
  grid-area: dep;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-arrive {
  grid-area: arr;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-date{
  grid-area: date;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-time {
  grid-area: time;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-car {
  grid-area: car;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-seat {
  grid-area: seat;
  border: 1px solid #000;
  padding: 15px;
}

.ticket-info-platform {
  padding: 30px;
  grid-area: platform;
  border: 1px solid #000;
  text-align: center;
  background-color: #c02a28;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
