.container {
  min-height: calc(100vh - 53px);
  /*margin: 0 auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.body-background {
  background-image: url("../img/hero/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
