.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 49px;
  grid-row-gap: 37px;
  grid-column-gap: 61px;
}

.content-link {
  text-decoration: none;
}

.content-link-item {
  width: 300px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.content-link-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-link-item-information {
  background-color: #F26522;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 14px 12px 16px;
  width: 100%;
  box-sizing: border-box;
}

.content-link-item-information-price-meaning {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.content-link-item-information-price-list {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.content-link-item-information-details {
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.content-link-item-information-details::after {
  content: url("../../img/vector.svg");
  margin-left: 16px;
}

.content-link-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
}

.content-link:hover .content-link-item-information {
  top: 171px;
}

.content-link:hover .content-link-item-title {
  color: #F26522;
}
