.hero {
  display: flex;
  justify-content: space-between;
}
.hero-logo{
  display: flex;
  flex-direction: row;
  margin: 51px 0 26px;
  text-decoration: none;
}

.hero-logo:hover .hero-logo-icon {
  content: url("../../img/logo-hover.svg");
}

.hero-logo:hover .hero-logo-title {
  color:#F26522;
}

.hero-logo-title{
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  font-size: 29px;
  line-height: 29px;
  color:#FFFFFF;
}
.hero-logo-title-second_part{
  font-size: 18px;
  line-height: 18px;
}

.hero-contacts{
  margin: 47px 0 17px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}

.hero-contacts-item{
  text-decoration: none;
  color:#FFFFFF;
}

.hero-contacts-item:hover {
  color:#F26522;
}

.copyright-title {
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}
