.container {
  width: 1280px;
  margin: 0 auto;
}

.navigation {

}

.nav-title {
  font-size: 80px;
  text-align: left;
}

.nav-title-link {
  text-decoration: none;
  color: #000000;

}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 38px auto 48px;
  background-color: #35444F;
}

.nav-menu-item {
  font-size: 24px;
  border-left: 1px solid #FFFFFF;
}

.nav-menu-link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 26px 35px;
 }

.content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.content-sidebar{
  align-self: flex-start;
}

.content-sidebar-section{
  border: 1px solid #000000;
  width: 344px;
  list-style: none;
}

.content-sidebar-section-item{
  padding: 25px 45px;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

.content-sidebar-section-item-link {
  text-decoration: none;
  color: #485863;
}


.content-section{

}
.content-section-body{
  border: 1px solid #000000;
  width: 885px;
  display: flex;
  justify-content: center;
}

.content-section-body-img {
  padding-top: 75px;
  padding-bottom: 75px;
}

.content-section-text {
  width: 885px;
  padding-top: 35px;
  font-size: 18px;
  line-height: 24px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  background-color: #63696E7A;
  padding-top: 25px;
  padding-bottom: 25px;
}

.benefits-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.benefits-menu-item {
  font-size: 28px;
  line-height: 28px;
  padding-left: 25px;
  padding-right: 25px;
}

.benefits-menu-item-link {
  text-decoration: none;
  color: #0C1927;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  padding-right: 25px;
}


.blue-text {
color: dodgerblue;
}


