.content-posts {
  padding: 49px 0 72px;
  background-color: #F2F2F2;
}

.content-posts-button-hide {
  display: block;
  margin: 0 auto 5px;
  padding: 10px 20px;

}
.content-posts-title {
  padding-bottom: 52px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
  text-align: center;
}

.content-posts-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 900px;
}

.content-posts-card-items {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

.content-posts-card-items-text {
  font-size: 18px;
  line-height: 25px;
  padding: 20px 0 20px;

}

.content-clients {
  padding: 106px 0 191px;
  background-image: url("../../img/content/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-clients-title {
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 106px;
  display: grid;
  justify-items: center;
}

.content-clients-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #18B4CF;
  margin-top: 87px;
}

.content-clients-logos {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.content-top_rated {
  padding: 50px 0;
}

.content-top_rated-title {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
  text-align: center;
  margin-bottom: 50px;
}

.content-top_rated-pictures {
  display: grid;
  grid-auto-flow: column;
}

.content-top_rated-pictures-item {
  width: 100%;
}

.content-news{
  padding-bottom: 71px;
}

.content-news-title {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
  text-align: center;
  margin-bottom: 50px;
}

.content-news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 45px;
  grid-column-gap: 35px;
}

.content-news-list-items{
  display: grid;
  background: #F9F7F7;
  justify-items: center;
}

.content-news-list-items-img-first-and-last {
  grid-row: 1/2;
}

.content-news-list-items-img {
  width: 100%;
  grid-column: 1/3;
}

.content-news-list-items-block-first-and-last {
  grid-row: 1/2;
  padding: 41px 24px 41px;
  text-align: right;
}

.content-news-list-items-block{
  padding-left: 14px;
  padding-right: 14px;
  text-align: right;
  grid-column: 1/3;
}

.content-news-list-items-block-title-first-and-last {
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  margin-bottom: 15px;
}

.content-news-list-items-block-title{
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  margin-top: 13px;
  margin-bottom: 15px;
}

.content-news-list-items-block-text {
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}

.grid_1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid_3 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.grid_4 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.grid_5 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.grid_6 {
  grid-column: 3/5;
  grid-row: 3/4;
}

.grid_8 {
  grid-column: 2/5;
  grid-row: 4/5;
}
