.hero-list {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  border: 3px solid darkcyan;

}
.hero-list__item {
  padding: 5px;
  text-decoration: none;
  color: black;
}

.hero-button {
  display: none;
}
.hero-button-active {
  position: fixed;
  padding: 20px;
  background-color: lightpink;
  color: black;
  z-index: 3;
}

.hero-navigation {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-nav-logo {
  display: flex;
}

.hero-nav-logo-icon {
  padding: 0 27px;
}

.hero-nav-logo-text {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero-nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.hero-nav-menu-item {
  padding-left: 18px;
  padding-right: 18px;
}

.hero-nav-menu-item-link {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-nav-menu-item-link:hover {
  color: #14B9D5;
}

.hero-nav-search {
  padding: 28px;
  background-color: #000000;
}

.hero-section {
  padding: 164px 0 74px;
  background-image: url("../../img/hero/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-title {
  font-size: 27px;
  line-height: 37px;
  color: #FFFFFF;
}

.hero-section-active {
  padding-top: 44px;
}

.hero-section-active-link{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: #FFFFFF;
  margin: 0 10px;
}

.blue-background {
  background-color: #14B9D5;
  padding: 16px 30px;
}

.green-background {
  background-color:#89CA62;
  padding: 16px 19px;
}
