.card-list {

;
}

.card {
  position: relative;
  padding: 24px 16px;
  box-sizing: border-box;
  width: 240px;
  height: 224px;
  border-radius: 16px;
  background: linear-gradient(321.69deg, #FF6188 0%, #FFB199 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card-red {
  background: linear-gradient(321.69deg, #FF6188 0%, #FFB199 100%);
}

.card-red > .card-link {
  color: #FF6188;
}

.card-title {
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
z-index: 1;
}

.card-link {
  font-size: 16px;
  line-height: 32px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 30px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  align-self: flex-end;

}

.card-background-img {
  position: absolute;
  transform: rotate(-21deg);
  left: -50px;
  top: 20px;
z-index: 0;
}
.card-background-img:hover{
  transform: rotate(-31deg);
}
